/* page style
--------------------------------------------- */

/* style for the whole page */
body, html {
  overflow: hidden;
  color: white;
}

/* applies this to everything */
* {
  margin:0;
  padding:0;
}

 /* centre the content in the parallax layers */
.header_content {
  width: 80%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*holds the activity holders and centers them all*/
.holder_holders {
  height: 100%;
  text-align: center;
}

/*holds all of the information about an activity*/
.activity_holder {
  position: relative;
  display: inline-block;

  /*fixes the display block items not being aligned*/
  vertical-align: top;
  width: 30%;
  height: 100%;
  top: 0px;
  margin: 5px;
}

/*holds the information about the activity*/
.location_info {
  width: 100%;
  color: black;
  font-family: "HelveticaNeue-Light", Helvetica;
  margin: 0px;
  font-size: 4vh;

  /*sets the maximum size of the div*/
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

/*div holding the map*/
.location_map {
  height: 50%;
  width: 100%;
  font-family: Helvetica;
  text-align: center;
  margin: 0px;
}

/*title of the activity style*/
.title {
  color: black;
  font-family: "HelveticaNeue-Light", Helvetica;
  margin-bottom: 5px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

/* style for the activity header */
#activity_title {

  /* text will all be in uppercase and center aligned */
  text-transform: uppercase;
  text-align: center;

  /* font properties */
  font-family: Helvetica;
  font-size: 6vw;
}

/* style for the refresh button */
#refresh {

  /* size properties */
  width: 60px;
  height: 60px;

  /* border and background properties */
  border-radius: 50%;
	border:2px solid #cfdcec;
  background: #404040;

  /* misc properties */
  color: white;
  cursor: pointer;
  outline: none;
}

/* scroll for the bar telling the user to scroll */
.scroll_indicator {
  /* position attributes */
  position: absolute;
  bottom: 20px;
  z-index: 4;

  /* size attributes */
  width: 100%;
  height: 3vh;

  /* text and background attributes */
  /*background-color: rgba(222, 222, 222, 0.4);*/
  text-align: center;
  color: white;
}

/* style for the map components
--------------------------------------------- */

/* style for the maps themselves */
.map {
  /*size properties*/
  height: 90%;
  width: 100%;

  /*text properties*/
  color: black;

  /*relative sizing properties*/
  margin: auto;
  padding: auto;

  /*background colour before the map loads*/
  background-color: #dedede;

  /*positional properties*/
  z-index: 0;
}

/* gets rid of the annoying redundancies at the bottom of the map */
.gmnoprint .gm-style-cc div {visibility: hidden;}
.gmnoprint.gm-style-cc div {visibility: hidden;}
.gm-style-cc div {visibility: hidden;}

/* style for the parallax components
--------------------------------------------- */

/* parallax holder */
.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  background-color: rgb(250, 250, 250);
}

/* groups of parallax elements */
.parallax__group {
  position: relative;
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* style for each parallax layer */
.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* fore layer */
.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}

/* base layer */
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

/* back layer */
.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

/* deep layer */
.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

/* style the each parallax group
--------------------------------------------- */

/*the first parallax group*/
#group1 {
  z-index: 1; /* slide over group 2 */
}

/* first parallax base layer */
#group1 .parallax__layer--deep {

}
/* first parallax base layer */
#group1 .parallax__layer--base {
  background-image: url("../img/background_blur.jpg");
  background-size: cover;
  background-position: center;
}

/*the second parallax group*/
#group2 {
  z-index: 2; /* slide under groups 1 and 3 */
  height: 70vh;
}

/*the fore layer in the parallax group*/
#group2 .parallax__layer--fore {
  text-align: center;
  justify-content: space-around;
}

/* style mobile devices
--------------------------------------------- */

/*used for mobile screens*/
@media only screen and (max-width: 600px) {

  .activity_holder {
    /*displays each div in list form*/
    display: block;

    /*makes each div the correct height and width*/
    height: 100%;
    width: 90%;

    /*centers the content*/
    margin: auto;

    /*puts a border at the bottom of the div*/
    margin-top: 15px;
    border-bottom-style: solid;
    border-bottom-color: #efefef;
    padding-bottom: 20px;
  }
}
