html {

  color: white;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}
h1 {

  /*text will all be in uppercase and center aligned*/
  text-transform: uppercase;
  text-align: center;

  /*font properties*/
  font-family: Helvetica;
  font-size: 100px;
}

button {

  /*size properties*/
  width: 100px;
  height: 100px;

  /*border and background properties*/
  border-radius: 50%;
	border:2px solid #cfdcec;
  background: #404040;

  /*misc properties*/
  color: white;
  cursor: pointer;
  outline: none;
}
.centered {

  /*everything is center aligned*/
  text-align: center;
  margin: auto;
}

/*style for the maps used*/
.map {
  height: 100%;
  width: 90%;
  color: black;
  margin: auto;
  padding: auto;
}

/*gets rid of the annoying redundancies at the bottom of the map*/
.gmnoprint .gm-style-cc div {visibility: hidden;}
.gmnoprint.gm-style-cc div {visibility: hidden;}
.gm-style-cc div {visibility: hidden;}

/*style for the divs holding the maps and relevant information*/
.location_div {

  display: inline-block;
  width: 33%;
  height: 500px;
  color: black;
  font-family: Helvetica;

}
/*beggining of parallax styling*/
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--back {
  transform: translateZ(-2px) scale(3);
}

.parallax__group {
  position: relative;
  height: 50%;
  transform-style: preserve-3d;
  /*transform: translate3d(700px, 0, -800px) rotateY(30deg);*/

}
.background_div{
  height: 100%;
  background-image: url("../img/background_blur.jpg");
  background-size: cover;
}

.tester{
  height: 100%;
  background-color: black;
}
