html {

  color: white;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

h1 {

  /*text will all be in uppercase and center aligned*/
  text-transform: uppercase;
  text-align: center;

  /*font properties*/
  font-family: Helvetica;
  font-size: 100px;

  /*margin properties*/
  margin-top: 15%;
  margin-bottom: 2.5%;
}

button {

  /*size properties*/
  width: 100px;
  height: 100px;

  /*border and background properties*/
  border-radius: 50%;
	border:2px solid #cfdcec;
  background: #404040;

  /*misc properties*/
  color: white;
  cursor: pointer;
  outline: none;
}

.content {

  /*content shouldn't fill the whole screen*/
  width: 80%;
}

.centered {

  /*everything is center aligned*/
  text-align: center;
  margin: auto;
}

.parallax-window {
  width: 100%;
  min-height: 900px;
  background: transparent;
}

#first_window {
  display: inline-block;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/*style for the maps used*/
.map {
  height: 100%;
  width: 90%;
  color: black;
  margin: auto;
  padding: auto;
}

/*gets rid of the annoying redundancies at the bottom of the map*/
.gmnoprint .gm-style-cc div {visibility: hidden;}
.gmnoprint.gm-style-cc div {visibility: hidden;}
.gm-style-cc div {visibility: hidden;}

/*style for the divs holding the maps and relevant information*/
.location_div {

  display: inline-block;
  width: 33%;
  height: 500px;
  color: black;
  font-family: Helvetica;

}
